:root {
  --bg: rgba(151, 146, 146, 0.2);
  --bg-accent: #484a4d;

  --label-width: 200px;
  --label-height: 70px;
  --font-size: 20px;
}

.navBar {
  position: relative;
}
.form-button {
  width: 4em;
  height: 4em;
  background-color: rgba(151, 146, 146, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 5px;
  margin: 2%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms;
  animation: rotation 8s infinite linear;
  text-transform: uppercase;
  font-family: "NimbusSansMonoW01-Regular";
}
.form-button:hover {
  animation: rotation 0s infinite linear;
  transition: filter 100ms;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.form-box {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  z-index: 99999;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 0%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px 5px;
}

.form-box.showMenu {
  width: 100%;
}

.form-box li:first-child {
  margin-top: 7rem;
}

.form-label,
.form-label-rgb {
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  height: var(--label-height);
  font-size: var(--font-size);
  display: block;
  color: black;
  background-color: rgba(29, 29, 29, 0.2);
  backdrop-filter: blur(10px);
}
.form-label-rgb {
  height: 90px;
  line-height: 90px;
}
.form-control,
.form-box select {
  text-align: center;
  height: var(--label-height);
  font-size: var(--font-size);
  display: block;
  background-color: rgba(151, 146, 146, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  border: 0px;
  box-sizing: border-box;
}

.form-control:hover,
button:hover {
  transition: all 1s ease-in-out;
  background-color: rgba(255, 103, 0, 1);
  color: white;
}
.double-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 5px;
}
.split-option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 5px;
}

.color-rgb {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px 5px;
}
.color-rgb input {
  height: 90px;
  width: 100%;
}
/* .form-box select {
  width: 100%;
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
} */

button {
  line-height: 75px;
  text-transform: capitalize;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  height: var(--label-height);
  font-size: var(--font-size);
  display: block;
  background-color: rgba(151, 146, 146, 0.2);
  backdrop-filter: blur(10px);
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  color: rgb(117, 117, 117);
}
.publish-button {
  height: 150px;
  grid-column: 1 / span 4;
  background-color: #ff6700;
  text-transform: uppercase;
  color: black;
}
.dowload-button {
  height: 75px;
  grid-column: 1 / span 4;
}
.splitfilter {
  z-index: -9999999;
  margin-top: -450px;
  -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
  filter: blur(20px);
}
.splitfilter:hover {
  transition: 2s;
  -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
  filter: blur(0px);
}

@media screen and (max-width: 1080px) {
  .form-box {
    position: relative;
    bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
  }
  .dowload-button {
    grid-column: 1 / span 2;
  }
  .publish-button {
    grid-column: 1 / span 2;
  }
  .double-box,
  .split-option {
    grid-gap: 0px 5px;
  }
  .splitfilter {
    margin-top: -1300px;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
}
@media screen and (max-width: 800px) {
  .splitfilter {
    margin-top: -2300px;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  .dowload-button {
    grid-column: 1 / span 1;
  }
  .form-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .publish-button {
    grid-column: 1 / span 1;
  }
}
