.backgroundvideo {
  width: 90%;
  margin-left: 5%;
  margin-top: -105px;
  height: auto;
  z-index: -999;
  position: absolute;
  -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
  filter: blur(20px);
}
.backgroundvideo:hover {
  transition: 2s;
  -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
  filter: blur(0px);
}
