@font-face {
  font-family: "NimbusSansMonoW01-Regular";
  src: url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.eot");
  src: url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/69bad13bbabb27ce8718e195292b3482.svg#NimbusSansMonoW01-Regular")
      format("svg");
}
:root {
  background-color: #f5f4f4;
  margin: -1%;
  margin-right: -1%;
  padding: 0px;
  font-family: "NimbusSansMonoW01-Regular";
  color: black;
}
NavbarSlider {
  z-index: 9999 !important;
}
